%p#notice= notice

= react_component('Conversation',
                  initialMessages: @last_conversation.messages,
                  initialConversationId: @last_conversation.id,
                  conversations: current_user.callers)
