<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @room.title %>
</p>

<%= react_component('Room', messages: @room.messages, room_id: @room.id) %>
<%#= react_component('MessageForm', room_id: @room.id) %>

<%#= link_to 'Edit', edit_room_path(@room) %>
<%#= link_to 'Back', rooms_path %>
