$silver: #DADADA;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "conversations";
@import 'message';
@import 'login-page';
@import 'fonts';

* {
  margin: 0;
}
html, body {
  height: 100%;
  font-family: Poppins, 'sans-serif';
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  height: 100%;
  margin: 0 auto; /* the bottom margin is the negative value of the footer's height */
}

#footer {
  height: 25px;
  background-color: #000;
  color: #F5F5F5;
  text-align: center;
  margin-top: auto;
}

#header {
  height: 40px;
  align-self: flex-start;
  //padding-bottom: -40px;
  background-color: $silver;
  width: 100%;
  display: block;
  z-index: 9999;
  font-size: 30px;
}

#main {
  height: 100%;
  align-self: center;
  //min-height: 100vh;
}

//@media screen and (min-width: 768px) {
//  #main {
//    min-height: calc(100vh - 25px);
//  }
//}

//@media screen and (min-width: 992px) {
//  #main {
//    height: 100vh;
//  }
//}

.panel-body {
  padding: 0 15px;
}

textarea.form-control {
  margin: 5px 0;
  width: 75%;
}


.btn-primary, .btn-primary:hover, .btn-primary:active .btn-primary:focus {
  background-color: #000;
  border-color: #000;
}
