@import "bootstrap-sprockets";
@import "bootstrap";
@import "conversations";
@import 'message';

#main {
  .container {
    margin: 0 auto;
    position: relative;
    display: block;
  }
}

.panel-body {
  padding: 0 15px;
}

#conversation {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

textarea.form-control {
  margin: 5px 0;
  width: 75%;
}