@import "bootstrap-sprockets";
@import "bootstrap";
@import "conversations";
@import 'message';

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -25px; /* the bottom margin is the negative value of the footer's height */
}
#footer, .push {
  height: 25px; /* .push must be the same height as .footer */
}

#footer {
  background-color: #944210;
  color: #F5F5F5;
  text-align: center;
}

#main {
  height: calc(100vh - 25px);
}

.panel-body {
  padding: 0 15px;
}

textarea.form-control {
  margin: 5px 0;
  width: 75%;
}

#devise\/sessions-new body {
  background: image_url('login-page-background.jpg') no-repeat center center fixed;
  background-size: cover;

  #main {
    overflow: hidden;
  }

  .form-group {
    margin-bottom: 10px;
  }
}

#login-box {
  width: 400px;
  background-color: #F5F5F5;
  border: 1px solid #B1B0AB;
  border-radius: 5%;
  margin: 150px auto;

  #content {
    width: 250px;
    margin: 0 auto;
    display: block;
    padding: 20px 0;
  }
}

#header {
  height: 40px;
  background-color: #DADADA;
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  z-index: 9999;
  font-size: 30px;
}

.btn-primary {
  background-color: #944210;
  border-color: #944210;
}